.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 8rem;
  padding: 20rem;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
}

.content button {
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.detail p {
  margin-right: 7.5rem;
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    margin-top: 0rem;
    padding: 5rem 0.3rem;
  }
  
  .content {
    padding: 1rem;
  }
}

/* Tablet and Smaller Desktop */
/* @media (min-width: 701px) and (max-width: 1120px) {
} */

/* @media (prefers-color-scheme: dark) {
} */

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
